@charset "utf-8";
/*Simplify width and height calculations*/
html {
	box-sizing: border-box;
}

*, *:before,
*:after {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding-right: 0px;
	list-style-image: none;
	list-style-type: none;
}
.greyscale {
	-webkit-filter: invert(0%);

}
.greyscale:hover {
	-webkit-filter: invert(100%);

}


#logo {
	
	
		
}
#wrapper #header {
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inherit;
	background-color: #F0E0D6;
	max-height: 180px;
}
#wrapper #header #navigation {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	list-style-position: outside;
	font-family: playfair-display;
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	position: absolute;
	text-shadow: 0px 0px;
	background-color: #F0E0D6;
	text-align: right;
	overflow: hidden;
	float: right;
	right: 8px;
	padding-right: 8px;
	max-height: 180px;
}


a:link {
	color: #0F1F29;
}
a:visited {
	color: #0F1F29;
	text-shadow: 0px 0px #484848;
}
a:hover {
	color: #55C7FF;
}


#wrapper #main {
	overflow: hidden;
	padding-right: 0px;
}
#wrapper #main #content {
	margin-top: 20px;
	margin-left: 6%;
	margin-right: 6%;

}

#wrapper #main #txt {
	color: #000000;
	font-family: playfair-display;
	font-style: normal;
	font-weight: 450;
	font-variant: normal;
	font-size: 23px;
	line-height: 13px;
	text-align: left;
	text-shadow: 0px 0px;
	background-color: #EDEDED;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	text-indent: 20px;
	max-width: 50%;
}
#main #txt p:hover {
	text-shadow: 31px 12px #2F2F2F;

}
#main #txt #att {
	text-align: right;

}

#wrapper #main #h2 {
	overflow: hidden;
	padding-right: 0px;
	text-align: left;
	font-family: playfair-display;
	font-style: normal;
	font-weight: 400;
	margin: 0;
	font-size: 58px;
	line-height: 56px;
}
#wrapper #main #image-grid {
}
#image-grid .row .custom-col.col-md-3.col-sm-3.col-xs-2.col-lg-2 {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
	display: inherit;
	overflow: hidden;
	background-color: #D9B198;
	border-collapse: separate;
}
.custom-col {
	overflow: hidden;
}
