@charset "utf-8";
/*Simplify width and height calculations*/
html {
	box-sizing: border-box;
}

*, *:before,
*:after {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding-right: 0px;
	list-style-image: none;
	list-style-type: none;
}
.greyscale:hover {
	-webkit-filter: invert(0%);

}

.greyscale {
	-webkit-filter: invert(100%);

}


#logo {
	
	
		
}
#wrapper #header {
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inherit;
	background-color: #000000;
	max-height: 180px;
}
#wrapper #header #navigation {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	list-style-position: outside;
	font-family: playfair-display;
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	position: absolute;
	text-shadow: 0px 0px;
	background-color: #000000;
	text-align: right;
	overflow: hidden;
	float: right;
	right: 8px;
	padding-right: 8px;
	max-height: 183px;
}
a:visited {
	color: #FFFFFF;
	text-shadow: 0px 0px;
	background-color: #000000;
}
a:link {
	color: #FFFFFF;
}

#wrapper #main {
	overflow: hidden;
	background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(0,0,0,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(0,0,0,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(0,0,0,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(0,0,0,1.00) 100%);
	padding-right: 0px;
}
#wrapper #main #h2 {
	overflow: hidden;
	padding-right: 0px;
	text-align: left;
}
a:hover {
	color: #55C7FF;
}
#navigation ul .blackbar {
	background-color: #000000;
	max-width: 164px;
	min-height: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	margin-top: 5px;
}
