@charset "utf-8";
/*Simplify width and height calculations*/
html {
	box-sizing: border-box;
}

*, *:before,
*:after {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding-right: 0px;
	list-style-image: none;
	list-style-type: none;
}
.greyscale:hover {
	-webkit-filter: invert(0%);

}

.greyscale {
	-webkit-filter: invert(100%);

}


#logo {
	
	
		
}
#wrapper #header {
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inherit;
	background-color: #000000;
	max-height: 180px;
}
#wrapper #header #navigation {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	list-style-position: outside;
	font-family: playfair-display;
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	position: absolute;
	text-shadow: 0px 0px;
	background-color: #000000;
	text-align: right;
	overflow: hidden;
	float: right;
	right: 8px;
	padding-right: 8px;
	max-height: 180px;
}
a:visited {
	color: #FFFFFF;
	text-shadow: 0px 0px;
	background-color: #000000;
}
a:link {
	color: #FFFFFF;
}
a:hover {
	color: #55C7FF;
}


#wrapper #main {
	overflow: hidden;
	padding-right: 0px;
}
#wrapper #main #h2 {
	overflow: hidden;
	padding-right: 0px;
	text-align: left;
}
